.footer-top {
    display: flex;
    /* grid-template-columns: 2fr 1fr 1fr 1fr 2fr; */
    gap: 0rem;
    background: rgba(254, 197, 0, 0.11);;
    padding: 4rem 3rem 1rem 3rem;
    font-family: Arial, sans-serif;
    color: #000;
  }

  .footer-section-left{
    width: 30%;
  }

  .footer-section-group{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  
  .footer-section {
    display: flex;
    flex-direction: column;
  }

  .footer-section p{
    color: #0F0F0F;
text-align: justify;

font-family: Satoshi;
font-size: 0.9rem;
font-style: normal;
font-weight: 500;
line-height: 130%; 
text-transform: capitalize;
  }

  .footer-section-right{
   
  }
  
  .footer-section h4 {
    color: #808D9E;
font-family: Satoshi;
font-size: 1rem;
font-style: normal;
font-weight: 700;
line-height: 1.92106rem; 
letter-spacing: 0.02688rem;
text-transform: uppercase;
  }
  
  .footer-section ul {
    list-style: none;
    padding: 0px;
  }
  
  .footer-section ul li {
   
    color: #191A26;
font-family: Satoshi;
font-size: 1rem;
font-style: normal;
font-weight: 700;
line-height: 2.30531rem; 
letter-spacing: -0.03075rem;
  }
  
  .footer-logo {
    width: 250px;
    margin-bottom: 10px;
  }

  
  
  
  
  .footer-bottom {
    grid-column: span 5;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #ddd;
    padding-top: 10px;
    margin-top: 20px;
    font-size: 14px;
  }

  .footer-bottom p{
    color: #667085;
font-family: Satoshi;
font-size: 0.76138rem;
font-style: normal;
font-weight: 500;
line-height: 150%;
  }
  
  .footer-bottom a {
    text-decoration: none;
    color: #667085;
  }
  
  .footer-bottom a:hover {
    text-decoration: underline;
  }
  
  
  @media (max-width: 480px) {
    /* .footer {
      display: grid;
      grid-template-columns: 2fr 2fr 1fr 1fr 1fr;
      gap: 0rem;
      background: rgba(254, 197, 0, 0.11);;
      padding: 2rem 1rem 1rem 1rem;
      font-family: Arial, sans-serif;
      color: #000;
    } */

    .footer-top{
      width: 100%;
      display: flex;
      flex-direction: column;
    }

    .footer-section-left{
      width: 100%;
      display: flex;
      /* justify-content: center; */
      flex-direction: column;
      align-items: center;
    }
    .footer-section-left img{
      width: 40%;
    }
    .footer-section-left p{
      /* width: 80%; */
      font-size: 0.8rem;
    }

    .footer-section-group{
      display: grid;
      grid-template-columns:repeat(4,1fr);
      gap: 0rem;
      /* justify-content: center; */
      /* align-items: center; */
    }
    
    .footer-section {
      display: flex;
      /* justify-content: center; */
      /* align-items: center; */
      width: 100%;
      /* padding: 0rem 3rem; */
      /* flex-direction: column; */
    }
  
    .footer-section p{
      color: #0F0F0F;
  text-align: justify;
  
  font-family: Satoshi;
  font-size: 0.5rem;
  font-style: normal;
  font-weight: 500;
  line-height: 130%; 
  text-transform: capitalize;
    }
  
    .footer-section-right{
     
    }
    
    .footer-section h4 {
      color: #808D9E;
  font-family: Satoshi;
  font-size: 0.8rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.52106rem; 
  letter-spacing: 0.02688rem;
  text-transform: uppercase;
    }
    
    .footer-section ul {
      list-style: none;
      padding: 0px;
    }
    
    .footer-section ul li {
     
      color: #191A26;
  font-family: Satoshi;
  font-size: 0.7rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.30531rem; 
  letter-spacing: 0rem;
    }
    
    .footer-logo {
      width: 150px;
      margin-bottom: 10px;
    }
  
    
    
    
    
    .footer-bottom {
      grid-column: span 5;
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-top: 1px solid #ddd;
      padding-top: 10px;
      margin-top: 20px;
      font-size: 12px;
    }
  
    .footer-bottom p{
      color: #667085;
  font-family: Satoshi;
  font-size: 0.7rem;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
    }
    
    .footer-bottom a {
      font-size: 0.7rem;
      text-decoration: none;
      color: #667085;
    }
    
    .footer-bottom a:hover {
      text-decoration: underline;
    }
}


