/* .chairs-heading {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 0 auto; 
    padding: 20px; 
}

.chairs-heading h1 {
    
    width: 790.4px;
    color: #3E3E3E;
font-family: Satoshi;
font-size: 2rem;
font-style: normal;
font-weight: 700;
line-height: 2.63988rem; 
letter-spacing: -0.1745rem;
}

.chairs-heading p {
   
    color: #5A5A5A;

text-align: center;
font-family: Poppins;
font-size: 1rem;
font-style: normal;
font-weight: 400;
line-height: 160%; 
}

.card-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;
    padding: 20px 200px;
    
  }
  
  .card {
    position: relative;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.2s;
  }
  
  .card:hover {
    transform: translateY(-5px);
  }
  
  .card .card-img {
   
    width: 100%;
    object-fit: cover;
    top: 0;
  }

  
  
  .card-details {
    width: 100%;
    height: 40%;
    padding: 15px;
  }
  .card-details div {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .card-category {
   
    width: 60.113px;
height: 27.91px;
flex-shrink: 0;
color: #8D8D8D;
font-family: Inter;
font-size: 0.7rem;
font-style: normal;
font-weight: 400;
line-height: normal;
  }
  
  .card-name {
    
    margin: 5px 0;
    width: 266.215px;
    
    flex-shrink: 0;
    color: #0D1B39;
font-family: Inter;
font-size: 1rem;
font-style: normal;
font-weight: 600;
line-height: normal;
text-transform: capitalize;
  }
  
  .card-rating {
    color: #ffa726; 
    font-size: 14px;
  }
  
  .card-price {
    color: #0D1B39;
    font-size: 1rem;
    font-weight: bold;
    margin: 5px 0;
    font-family: Inter;
  }
  
  .card-add-button {
    background-color: #ffeb3b;
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    font-size: 24px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background-color 0.2s;
  }
  
  .card-add-button:hover {
    background-color: #fbc02d;
  }





  @media (max-width: 576px) {
    .chairs-heading {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      margin: 0 auto;
      padding: 20px; 
  }
  
  .chairs-heading h1 {
      margin-bottom: 10px; 
  }
  
  .chairs-heading p {
      max-width: 800px; 
  }
  
  .card-grid {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      gap: 20px;
      padding: 3rem;
      
    }
    
    .card {
      background-color: white;
      border-radius: 10px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      overflow: hidden;
      transition: transform 0.2s;
    }
    
    .card:hover {
      transform: translateY(-5px);
    }
    
    .card img {
      width: 100%;
      object-fit: cover;
    }
    
    .card-details {
      padding: 15px;
    }
    .card-details div {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    
    .card-category {
      font-size: 12px;
      color: #888888;
    }
    
    .card-name {
      font-size: 18px;
      margin: 5px 0;
    }
    
    .card-rating {
      color: #ffa726; 
      font-size: 14px;
    }
    
    .card-price {
      font-size: 16px;
      font-weight: bold;
      margin: 5px 0;
    }
    
    .card-add-button {
      background-color: #ffeb3b;
      border: none;
      border-radius: 50%;
      width: 40px;
      height: 40px;
      font-size: 24px;
      color: white;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      transition: background-color 0.2s;
    }
    
    .card-add-button:hover {
      background-color: #fbc02d;
    }
  
  } */




  .chair-container{
    display: flex;
    width: 100%;
flex-direction: column;
padding: 1rem 0rem;
/* align-items: center; */
gap: 31.525px;
background-color: #fafafa;
  }

  .chairs-heading{
    display: flex;
flex-direction: column;
align-items: center;
gap: 8.61px;
padding: 0rem 28rem;
  }

  .chairs-heading h1{
    color: #3E3E3E;
font-family: Satoshi;
font-size: 3.51675rem;
font-style: normal;
font-weight: 700;
line-height: 4.63988rem; /* 131.343% */
letter-spacing: -0.1rem;
  }

  .chairs-heading p{
    color: #5A5A5A;
text-align: center;
font-family: Poppins;
font-size: 1rem;
font-style: normal;
font-weight: 400;
line-height: 1.85494rem;
opacity: 0.8;
  }

  .card-grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    
    gap: 40px;
    padding: 1rem 10rem;
    /* padding: 20px 200px; */
  }
  
  .card-grid .card{
    /* position: relative; */
    display: flex;
    justify-content: center;
    align-items: center;
    /* width: 278px; */
    width: 100%;
    height: 482px;
    border: none;
    background-color: #fafafa;
    /* background-color: yellow; */
flex-shrink: 0;
transform: translateY(-5px); /* Slight lift effect */
transition: transform 0.3s ease, box-shadow 0.3s ease; /* Smooth transition */

  }

  .card-grid .card .card-img {
    position: absolute;
    top: -50px;
    width: 100%;
    z-index: 9999;
  }
  
  
  
  .card-grid .card .card-img img{
    width: 100%;
    /* object-fit: cover; */
    height: 100%;
  }

  .card-name{
    color: #0D1B39;
font-family: Inter;
font-size: 1rem;
font-style: normal;
font-weight: 600;
line-height: normal;
text-transform: capitalize;
  }

  .card-rating{
    color: #F6B76F;
  }
  
  
  
 
  .cardddd {
    border-radius: 15px;
    position: relative;
    width: 85%;
    height: 70%;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.05), /* softer shadow */
0px 0px 0px rgba(0, 0, 0, 0); /* subtle shadow closer to the div */

   
}

.card:hover {
    transform: translateY(-10px); /* Increased lift on hover */
    box-shadow: 0px 10px 0px rgba(0, 0, 0, 0.0), /* more pronounced shadow */
                0px 10px 0px rgba(0, 0, 0, 0.0); /* increased shadow closer to the div */
}


  .card-sqr{
    width: 100%;
    height: 40%;
    

    background-color: #fafafa;
  }

  .card-details{
    padding: 0px 10px;
    height: 40%;
    background-color: #fff;
    margin-top: 65px;
  }

  .card-category{
    color: #8D8D8D;

font-family: Inter;
font-size: 0.7919rem;
font-style: normal;
font-weight: 400;
line-height: normal;
  }

  .price-cont{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding: 0px 15px; */
  }

  .card-price{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 7.5px;
    margin-left: 2px;
    color: #0D1B39;
    font-family: Inter;
    font-size: 1.05rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }
  
  .card-price span{
    margin-right: 1.5px;
    color: #0D1B39;
font-family: Inter;
font-size: 0.78106rem;
font-style: normal;
font-weight: 600;
line-height: normal;
  }

  .card-add-button{
    background-color: #FEC500;
      border: none;
      border-radius: 50%;
      width: 40px;
      height: 40px;
      font-size: 24px;
      color: white;
      padding-bottom: 2px;
      margin-bottom: 2px;
      
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      transition: background-color 0.2s;

  }

  @media (max-width: 480px) {
    
    .chair-container{
      display: block;
      /* width: 100%; */
  /* flex-direction: column; */
  padding: 1rem 0rem;
  /* align-items: center; */
  gap: 31.525px;
  background-color: #fafafa;
    }
  
    .chairs-heading{
      display: flex;
  /* flex-direction: column; */
  /* align-items: center; */
  gap: 1.61px;
  padding: 0rem 0.5rem;
    }
  
    .chairs-heading h1{
      color: #3E3E3E;
  font-family: Satoshi;
  font-size: 1.51675rem;
  font-style: normal;
  font-weight: 700;
  line-height: 2.03988rem; /* 131.343% */
  letter-spacing: 0rem;
    }
  
    .chairs-heading p{
      color: #5A5A5A;
  text-align: center;
  font-family: Poppins;
  font-size: 0.8rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.25494rem;
  opacity: 0.8;
    }
  
    .card-grid{
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      
      gap: 10px;
      padding: 1rem 2rem;
      /* padding: 20px 200px; */
    }
    
    .card-grid .card{
      /* position: relative; */
      display: flex;
      justify-content: center;
      align-items: center;
      /* width: 278px; */
      width: 100%;
      height: 482px;
      border: none;
      background-color: #fafafa;
      /* background-color: yellow; */
  flex-shrink: 0;
  transform: translateY(-5px); /* Slight lift effect */
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* Smooth transition */
  
    }
  
    .card-grid .card .card-img {
      position: absolute;
      top: -80px;
      width: 100%;
      z-index: 9999;
    }
    
    
    
    .card-grid .card .card-img img{
      width: 100%;
      /* object-fit: cover; */
      height: 100%;
    }
  
    .card-name{
      color: #0D1B39;
  font-family: Inter;
  font-size: 1rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: capitalize;
    }
  
    .card-rating{
      color: #F6B76F;
    }
    
    
    
   
    .cardddd {
      border-radius: 15px;
      position: relative;
      width: 85%;
      height: 70%;
      box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.05), /* softer shadow */
  0px 0px 0px rgba(0, 0, 0, 0); /* subtle shadow closer to the div */
  
     
  }
  
  .card:hover {
      transform: translateY(-10px); /* Increased lift on hover */
      box-shadow: 0px 10px 0px rgba(0, 0, 0, 0.0), /* more pronounced shadow */
                  0px 10px 0px rgba(0, 0, 0, 0.0); /* increased shadow closer to the div */
  }
  
  
    .card-sqr{
      width: 100%;
      height: 40%;
      
  
      background-color: #fafafa;
    }
  
    .card-details{
      padding: 0px 10px;
      height: 40%;
      background-color: #fff;
      margin-top: 65px;
    }
  
    .card-category{
      color: #8D8D8D;
  
  font-family: Inter;
  font-size: 0.7919rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
    }
  
    .price-cont{
      display: flex;
      justify-content: space-between;
      align-items: center;
      /* padding: 0px 15px; */
    }
  
    .card-price{
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 7.5px;
      margin-left: 2px;
      color: #0D1B39;
      font-family: Inter;
      font-size: 1.05rem;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
    }
    
    .card-price span{
      margin-right: 1.5px;
      color: #0D1B39;
  font-family: Inter;
  font-size: 0.78106rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
    }
  
    .card-add-button{
      background-color: #FEC500;
        border: none;
        border-radius: 50%;
        width: 40px;
        height: 40px;
        font-size: 24px;
        color: white;
        padding-bottom: 2px;
        margin-bottom: 2px;
        
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        transition: background-color 0.2s;
  
    }
}




@media (min-width: 481px) and (max-width: 767px) {
  .chair-container{
    display: block;
    /* width: 100%; */
/* flex-direction: column; */
padding: 1rem 0rem;
/* align-items: center; */
gap: 31.525px;
background-color: #fafafa;
  }

  .chairs-heading{
    display: flex;
/* flex-direction: column; */
/* align-items: center; */
gap: 1.61px;
padding: 0rem 2rem;
  }

  .chairs-heading h1{
    color: #3E3E3E;
font-family: Satoshi;
font-size: 1.51675rem;
font-style: normal;
font-weight: 700;
line-height: 2.03988rem; /* 131.343% */
letter-spacing: 0rem;
  }

  .chairs-heading p{
    color: #5A5A5A;
text-align: center;

font-family: Poppins;
font-size: 0.8rem;
font-style: normal;
font-weight: 400;
line-height: 1.25494rem;
opacity: 0.8;
  }

  .card-grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    
    gap: 10px;
    padding: 1rem 4rem;
    /* padding: 20px 200px; */
  }
  
  .card-grid .card{
    /* position: relative; */
    display: flex;
    justify-content: center;
    align-items: center;
    /* width: 278px; */
    width: 100%;
    height: 482px;
    border: none;
    background-color: #fafafa;
    /* background-color: yellow; */
flex-shrink: 0;
transform: translateY(-5px); /* Slight lift effect */
transition: transform 0.3s ease, box-shadow 0.3s ease; /* Smooth transition */

  }

  .card-grid .card .card-img {
    position: absolute;
    top: -50px;
    width: 100%;
    z-index: 9999;
  }
  
  
  
  .card-grid .card .card-img img{
    width: 100%;
    /* object-fit: cover; */
    height: 100%;
  }

  .card-name{
    color: #0D1B39;
font-family: Inter;
font-size: 1rem;
font-style: normal;
font-weight: 600;
line-height: normal;
text-transform: capitalize;
  }

  .card-rating{
    color: #F6B76F;
  }
  
  
  
 
  .cardddd {
    border-radius: 15px;
    position: relative;
    width: 85%;
    height: 70%;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.05), /* softer shadow */
0px 0px 0px rgba(0, 0, 0, 0); /* subtle shadow closer to the div */

   
}

.card:hover {
    transform: translateY(-10px); /* Increased lift on hover */
    box-shadow: 0px 10px 0px rgba(0, 0, 0, 0.0), /* more pronounced shadow */
                0px 10px 0px rgba(0, 0, 0, 0.0); /* increased shadow closer to the div */
}


  .card-sqr{
    width: 100%;
    height: 40%;
    

    background-color: #fafafa;
  }

  .card-details{
    padding: 0px 10px;
    height: 40%;
    background-color: #fff;
    margin-top: 65px;
  }

  .card-category{
    color: #8D8D8D;

font-family: Inter;
font-size: 0.7919rem;
font-style: normal;
font-weight: 400;
line-height: normal;
  }

  .price-cont{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding: 0px 15px; */
  }

  .card-price{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 7.5px;
    margin-left: 2px;
    color: #0D1B39;
    font-family: Inter;
    font-size: 1.05rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }
  
  .card-price span{
    margin-right: 1.5px;
    color: #0D1B39;
font-family: Inter;
font-size: 0.78106rem;
font-style: normal;
font-weight: 600;
line-height: normal;
  }

  .card-add-button{
    background-color: #FEC500;
      border: none;
      border-radius: 50%;
      width: 40px;
      height: 40px;
      font-size: 24px;
      color: white;
      padding-bottom: 2px;
      margin-bottom: 2px;
      
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      transition: background-color 0.2s;

  }
}



@media (min-width: 768px) and (max-width: 1024px) {
  .chair-container{
    display: block;
    /* width: 100%; */
/* flex-direction: column; */
padding: 1rem 0rem;
/* align-items: center; */
gap: 31.525px;
background-color: #fafafa;
  }

  .chairs-heading{
    display: flex;
/* flex-direction: column; */
/* align-items: center; */
gap: 1.61px;
padding: 0rem 2rem;
  }

  .chairs-heading h1{
    color: #3E3E3E;
font-family: Satoshi;
font-size: 1.81675rem;
font-style: normal;
font-weight: 700;
line-height: 2.23988rem; /* 131.343% */
letter-spacing: 0rem;
  }

  .chairs-heading p{
    color: #5A5A5A;
text-align: center;

font-family: Poppins;
font-size: 0.9rem;
font-style: normal;
font-weight: 400;
line-height: 1.25494rem;
opacity: 0.8;
  }

  .card-grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    
    gap: 10px;
    padding: 1rem 1rem;
    /* padding: 20px 200px; */
  }
  
  .card-grid .card{
    /* position: relative; */
    display: flex;
    justify-content: center;
    align-items: center;
    /* width: 278px; */
    width: 100%;
    height: 482px;
    border: none;
    background-color: #fafafa;
    /* background-color: yellow; */
flex-shrink: 0;
transform: translateY(-5px); /* Slight lift effect */
transition: transform 0.3s ease, box-shadow 0.3s ease; /* Smooth transition */

  }

  .card-grid .card .card-img {
    position: absolute;
    top: -50px;
    width: 100%;
    z-index: 9999;
  }
  
  
  
  .card-grid .card .card-img img{
    width: 100%;
    /* object-fit: cover; */
    height: 100%;
  }

  .card-name{
    color: #0D1B39;
font-family: Inter;
font-size: 1rem;
font-style: normal;
font-weight: 600;
line-height: normal;
text-transform: capitalize;
  }

  .card-rating{
    color: #F6B76F;
  }
  
  
  
 
  .cardddd {
    border-radius: 15px;
    position: relative;
    width: 85%;
    height: 70%;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.05), /* softer shadow */
0px 0px 0px rgba(0, 0, 0, 0); /* subtle shadow closer to the div */

   
}

.card:hover {
    transform: translateY(-10px); /* Increased lift on hover */
    box-shadow: 0px 10px 0px rgba(0, 0, 0, 0.0), /* more pronounced shadow */
                0px 10px 0px rgba(0, 0, 0, 0.0); /* increased shadow closer to the div */
}


  .card-sqr{
    width: 100%;
    height: 40%;
    

    background-color: #fafafa;
  }

  .card-details{
    padding: 0px 10px;
    height: 40%;
    background-color: #fff;
    margin-top: 65px;
  }

  .card-category{
    color: #8D8D8D;

font-family: Inter;
font-size: 0.7919rem;
font-style: normal;
font-weight: 400;
line-height: normal;
  }

  .price-cont{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding: 0px 15px; */
  }

  .card-price{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 7.5px;
    margin-left: 2px;
    color: #0D1B39;
    font-family: Inter;
    font-size: 1.05rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }
  
  .card-price span{
    margin-right: 1.5px;
    color: #0D1B39;
font-family: Inter;
font-size: 0.78106rem;
font-style: normal;
font-weight: 600;
line-height: normal;
  }

  .card-add-button{
    background-color: #FEC500;
      border: none;
      border-radius: 50%;
      width: 40px;
      height: 40px;
      font-size: 24px;
      color: white;
      padding-bottom: 2px;
      margin-bottom: 2px;
      
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      transition: background-color 0.2s;

  }
}


@media (min-width: 1025px) and (max-width: 1440px) {
  .chair-container{
    display: block;
    /* width: 100%; */
/* flex-direction: column; */
padding: 1rem 0rem;
/* align-items: center; */
gap: 31.525px;
background-color: #fafafa;
  }

  .chairs-heading{
    display: flex;
/* flex-direction: column; */
/* align-items: center; */
gap: 1.61px;
padding: 0rem 2rem;
  }

  .chairs-heading h1{
    color: #3E3E3E;
font-family: Satoshi;
font-size: 1.81675rem;
font-style: normal;
font-weight: 700;
line-height: 2.23988rem; /* 131.343% */
letter-spacing: 0rem;
  }

  .chairs-heading p{
    color: #5A5A5A;
text-align: center;

font-family: Poppins;
font-size: 0.9rem;
font-style: normal;
font-weight: 400;
line-height: 1.25494rem;
opacity: 0.8;
  }

  .card-grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    
    gap: 10px;
    padding: 1rem 1rem;
    /* padding: 20px 200px; */
  }
  
  .card-grid .card{
    /* position: relative; */
    display: flex;
    justify-content: center;
    align-items: center;
    /* width: 278px; */
    width: 100%;
    height: 482px;
    border: none;
    background-color: #fafafa;
    /* background-color: yellow; */
flex-shrink: 0;
transform: translateY(-5px); /* Slight lift effect */
transition: transform 0.3s ease, box-shadow 0.3s ease; /* Smooth transition */

  }

  .card-grid .card .card-img {
    position: absolute;
    top: -50px;
    width: 100%;
    z-index: 9999;
  }
  
  
  
  .card-grid .card .card-img img{
    width: 100%;
    /* object-fit: cover; */
    height: 100%;
  }

  .card-name{
    color: #0D1B39;
font-family: Inter;
font-size: 1rem;
font-style: normal;
font-weight: 600;
line-height: normal;
text-transform: capitalize;
  }

  .card-rating{
    color: #F6B76F;
  }
  
  
  
 
  .cardddd {
    border-radius: 15px;
    position: relative;
    width: 85%;
    height: 70%;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.05), /* softer shadow */
0px 0px 0px rgba(0, 0, 0, 0); /* subtle shadow closer to the div */

   
}

.card:hover {
    transform: translateY(-10px); /* Increased lift on hover */
    box-shadow: 0px 10px 0px rgba(0, 0, 0, 0.0), /* more pronounced shadow */
                0px 10px 0px rgba(0, 0, 0, 0.0); /* increased shadow closer to the div */
}


  .card-sqr{
    width: 100%;
    height: 40%;
    

    background-color: #fafafa;
  }

  .card-details{
    padding: 0px 10px;
    height: 40%;
    background-color: #fff;
    margin-top: 65px;
  }

  .card-category{
    color: #8D8D8D;

font-family: Inter;
font-size: 0.7919rem;
font-style: normal;
font-weight: 400;
line-height: normal;
  }

  .price-cont{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding: 0px 15px; */
  }

  .card-price{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 7.5px;
    margin-left: 2px;
    color: #0D1B39;
    font-family: Inter;
    font-size: 1.05rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }
  
  .card-price span{
    margin-right: 1.5px;
    color: #0D1B39;
font-family: Inter;
font-size: 0.78106rem;
font-style: normal;
font-weight: 600;
line-height: normal;
  }

  .card-add-button{
    background-color: #FEC500;
      border: none;
      border-radius: 50%;
      width: 40px;
      height: 40px;
      font-size: 24px;
      color: white;
      padding-bottom: 2px;
      margin-bottom: 2px;
      
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      transition: background-color 0.2s;

  }
}


@media (min-width: 1441px) {
  /* Styles for large desktops */
}



  




  