/* ImageMask.css */

.fullcontain{

    background-color: #F1F1F1;
}
.container1 {
    display: flex;
    justify-content: center;
    /* align-items: center; */
    height: 89vh;
    margin: 2% 6%;

    /* border: 1px solid black; */
    /* border-radius: 50px; */
    position: relative; /* Add this to make the absolute positioning work */
}
.banner-img{
    /* width: 90%; */
    /* height: 90%; */
    /* border-radius: 0px 40px 0px 40px; */
    
}
.container1 img {
    width: 100%;
    position: absolute;
    height: 100%;
    z-index: 1;
    /* border-radius: 25px; */
    /* border: 2px solid #BBBBBB; */
    /* object-fit: cover; */
}

/* .clip-mask {
    max-width: 100%;
    clip-path: polygon(0 40%, 53% 40%, 53% 0%, 100% 0, 100% 40%, 100% 75%, 65% 75%, 65% 100%, 0% 100%, 0% 64%);
    
} */
/* .clip-mask {
    width: 100%;
    height: auto;
    clip-path: url(#roundedClip); 
} */


.content {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.content-up{
    /* width: 70%; */
    width: 48%;
    /* padding-right: 1rem; */
    padding-left: 1rem;
    height: 38%;
    /* background-color: #3E3E3E; */
    position: absolute;
    z-index: 111;
    background-color: #F1F1F1;
    /* border-radius:0px 0px 50px 0px; */
}

.content-up .upper {
    /* padding: 1rem; */
    max-width: 100%;
    /* width: 100%; */
    /* top: 0; */
    /* left: 0; */
    
}

.content-up .btn{
    display: flex;
    /* justify-content: center; */
    align-items: center;
    gap: 12px;
    padding: 6px 0 ;
    /* width: 60%; */
}

.btn button{
    display: flex;
width: 97.08px;
/* padding: 4px 28px; */
justify-content: center;
align-items: center;
gap: 4.132px;
border-radius: 8px;
background: #FFD74D;
border: none;
outline: none;


}

.btn .dot{
    width: 8px;
    height: 8px;
    background-color: #3E3E3E;;
    border-radius: 50%;


}

.upper h2{
    color: #0F0F0F;
font-family: Satoshi;
font-size: 3rem;
font-style: normal;
font-weight: 500;
line-height: 3.7rem; /* 4.46925rem */
letter-spacing: -0.08125rem;
}
.upper span{
    color: var(--grey, rgba(15, 15, 15, 0.30));
    font-family: Satoshi;
    font-size: 3rem;
    font-style: normal;
    font-weight: 500;
    line-height: 3.7rem;
    letter-spacing: -0.08125rem;

}

.upper-sep{
        border-top: 1px dashed #0F0F0F4D; /* Change #000 to your desired color */
        margin: 20px 0; /* Adjust margin as needed */
    
}

.upper .Subtitle{
    color: #0F0F0F;
font-family: Satoshi;
font-size: 0.8rem;
font-style: normal;
font-weight: 500;
line-height: 120%; /* 1.69581rem */
letter-spacing: -0.02825rem;

}

.lower {
    background-color: #f1f1f1;
    /* padding: 1rem; */
    width: 35%;
    height: 25%;
    /* max-height: 100%; */
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 111;
    /* z-index: 222; */
    display: flex;
    border-radius: 50px 0px 0px 0px;
}


.lower h2 {
    color: #0F0F0F;
    text-align: justify;
    leading-trim: both;
    text-edge: cap;
    font-family: Satoshi;
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 500;
    line-height:  1.5rem;
    letter-spacing: -0.053rem;
    text-transform: uppercase;
    padding: 2.5rem 10rem 0rem 2rem;
    
}

.lower .lower-circle{
    width: 100px;
    height: 100px;
    /* background-color: #FFD74D; */
    border-radius: 50%;
    border: 1px solid #6B6500;
    /* background-color: #FFD74D; */
    z-index: 2222;
    position: absolute;
    right:   15px;
    bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.lower .lower-circle i{
    font-size: 60px;
    /* font-weight; */
}



@media (max-width: 480px) {
    .fullcontain{

        background-color: #F1F1F1;
    }
    .container1 {
        display: flex;
        justify-content: center;
        /* align-items: center; */
        height: 40vh;
        margin: 2% 10%;
        /* border: 1px solid black; */
        border-radius: 20px;
        position: relative; 
    }

    
    .container1 img {
        width: 100%;
        position: absolute;
        height: 100%;
        z-index: 1;
        /* border-radius: 25px; */
        /* border: 2px solid #BBBBBB; */
        /* object-fit: cover; */
    }
    
    /* .clip-mask {
        max-width: 100%;
        clip-path: polygon(0 40%, 53% 40%, 53% 0%, 100% 0, 100% 40%, 100% 75%, 65% 75%, 65% 100%, 0% 100%, 0% 64%);
        
    } */
    /* .clip-mask {
        width: 100%;
        height: auto;
        clip-path: url(#roundedClip); 
    } */
    
    
    .content {
        position: relative;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
    }
    
    .content-up{
        /* width: 70%; */
        width: 50%;
        /* padding-right: 1rem; */
        padding-left: 0rem;
        height: 38%;
        /* background-color: #3E3E3E; */
        position: absolute;
        z-index: 111;
        background-color: #F1F1F1;
        /* border-radius:0px 0px 50px 0px; */
    }
    
    .content-up .upper {
        /* padding: 1rem; */
        max-width: 100%;
        /* width: 100%; */
        /* top: 0; */
        /* left: 0; */
        
    }
    
    .content-up .btn{
        display: flex;
        /* justify-content: center; */
        align-items: center;
        gap: 6px;
        margin-right: 8.5rem;
        /* width: 60%; */
    }
    
    .btn button{
        /* padding: 2px 5px; */
        display: flex;
    width: 50px;
    /* padding: 4px 28px; */
    justify-content: center;
    align-items: center;
    gap: 3px;
    border-radius: 4px;
    background: #FFD74D;
    border: none;
    outline: none;
    
    
    }
    
    .btn .dot{
        width: 4px;
        height: 4px;
        background-color: #3E3E3E;;
        border-radius: 50%;
    
    
    }
    .btn .dot1{
       font-size: 0.5rem;
    
    }
    
    .upper h2{
        color: #0F0F0F;
    font-family: Satoshi;
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.2rem; /* 4.46925rem */
    letter-spacing: -0.08125rem;
    }
    .upper span{
        color: var(--grey, rgba(15, 15, 15, 0.30));
        font-family: Satoshi;
        font-size: 1rem;
        font-style: normal;
        font-weight: 500;
        line-height: 1.2rem;
        letter-spacing: -0.08125rem;
    
    }
    
    .upper-sep{
            border-top: 1px dashed #0F0F0F4D; /* Change #000 to your desired color */
            margin: 0px 0; /* Adjust margin as needed */
        
    }
    
    .upper .Subtitle{
        color: #0F0F0F;
    font-family: Satoshi;
    font-size: 0.62rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1rem; /* 1.69581rem */
    letter-spacing: -0.02825rem;
    
    }
    
    .lower {
        background-color: #f1f1f1;
        /* padding: 1rem; */
        width: 35%;
        height: 25%;
        /* max-height: 100%; */
        position: absolute;
        bottom: 0;
        right: 0;
        /* z-index: 222; */
        display: flex;
    }
    
    
    .lower h2 {
        color: #0F0F0F;
        text-align: justify;
        leading-trim: both;
        text-edge: cap;
        font-family: Satoshi;
        font-size: 0.4rem;
        font-style: normal;
        font-weight: 500;
        line-height:  0.47rem;
        letter-spacing: 0rem;
        text-transform: uppercase;
        padding: 0.5rem 3rem 0rem 0.5rem;
        
    }
    
    .lower .lower-circle{
        width: 40px;
        height: 40px;
        /* background-color: #FFD74D; */
        border-radius: 50%;
        border: 1px solid #6B6500;
        /* background-color: #FFD74D; */
        z-index: 2222;
        position: absolute;
        right:   5px;
        bottom: 8px;
        display: flex;
        justify-content: center;
        align-items: center;
    
    }
    
    .lower .lower-circle i{
        font-size: 20px;
        /* font-weight; */
    }
}

